@model TPCCC_ALTAMIRANO.Models.Marca

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<head>
    <style>
        #btnIngresar {
            text-align: center
        }

        h2 {
            text-align: center;
            margin-bottom: 30px;
            margin-top: 20px;
        }
    </style>
</head>

<h2>Agregar Marca</h2>
<hr />
<div class="form-group">
    <div class="row">

        <div class="col-md-2">
            <div class="form-group">
                <button type="button" onclick="location.href='@Url.Action("Index", "Marcas")'" class="btn btn-outline-secondary btn-xs" style="font-size: 0.7em;">
                    Listar Marcas
                </button>
            </div>
        </div>

    </div>
</div>

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <form id="myForm" method="post" action="contact.php" role="form" onsubmit="openModal()">
        <div class="messages"></div>
        <div class="row">

            <div class="col-md-5">
                <div class="form-group">
                    <h6>Nombre</h6>
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre de la Marca" } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="col-md-1">

                <div class="form-group " style="position: absolute;bottom: 0;text-align:center;">

                    <input type="submit" value="Create" class="btn btn-success btn-send" />
                </div>

            </div>
           
        </div>
    </form>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

