@model TPCCC_ALTAMIRANO.Models.Repuesto

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>   
    <style>
        #btnIngresar {
            text-align: center
        }

        h2 {
            text-align: center;
            margin-bottom: 30px;
            margin-top: 20px;
        }
    </style>
</head>

<h2>Agregar Repuesto</h2>
<hr />
<div class="form-group">
    <div class="row">

        <div class="col-md-2">
            <div class="form-group">
                <button type="button" onclick="location.href='@Url.Action("Index", "Repuestos")'" class="btn btn-outline-secondary btn-xs" style="font-size: 0.7em;">
                    Listar Repuestos
                </button>
            </div>
        </div>

    </div>
</div>

<hr />



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <form id="myForm" method="post" action="contact.php" role="form" onsubmit="openModal()">
        <div class="messages"></div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <h6>Nombre</h6>
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre del Repuesto" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group">
                    <h6>Marca</h6>
                    @Html.DropDownList("Id", ViewBag.ListaMarcas as SelectList, "Seleccionar Marca", new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(model => model.Lis, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="col-md-1">

                <div class="form-group " style="position: absolute;bottom: 0;text-align:center;">
                    @Html.ActionLink("Agregar", "Create", "Marcas", null, new { @class = "btn btn-primary btn-large" })
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-5">
                <div class="form-group">
                    <h6>Proveedor</h6>
                    @Html.DropDownList("Id", ViewBag.ListaProveedores as SelectList, "Seleccionar Proveedor del repuesto", new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(model => model.Lis, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="col-md-5 text-center">
                <div class="form-group " style="position: absolute;bottom: 0;text-align:center;">
                    <input type="submit" class="btn btn-success btn-send" value="Agregar" data-dismiss="modal ">
                </div>
            </div>
        </div>
    </form>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

