@model IEnumerable<TPCCC_ALTAMIRANO.Models.Usuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    #tituloH2 {
        text-align: center;
        margin-top: 10px;
    }
</style>
<h2 id="tituloH2">Administrador de Usuarios</h2>
<hr />
@using (Html.BeginForm("Index", "Usuarios", FormMethod.Post))
{
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <h5>LISTADO DE USUARIOS</h5>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <button type="button" onclick="location.href='@Url.Action("Create", "Usuarios")'" class="btn btn-outline-secondary btn-xs" style="font-size: 0.7em;">
                        Nuevo Usuario
                    </button>
                </div>
            </div>
            
        </div>
    </div>


}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dni)
        </th>
        
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alias)
        </td>
        <td>
            @switch (item.TipoUsuario)
            {
                case 1:
                    <h7>Administrador</h7>
                    break;
                case 2:
                    <h7>Secretario</h7>
                    break;
            }
         </td>

        <td>
            @Html.DisplayFor(modelItem => item.Dni)
        </td>
       
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id = item.Id }, new { @style = "color:black;font-weight:bold" })
        </td>
        <td>
            @Html.ActionLink("Ver Detalle", "Details", new { id = item.Id }, new { @style = "color:black;font-weight:bold" })
        </td>
        <td>
            <a class=" btn btn-danger" onclick="return  DeleteConfirm()" href="/Usuarios/Delete/@item.Id"><span class="fa fa-trash"></span></a>
        </td>
    </tr>
    }

</table>
