@model TPCCC_ALTAMIRANO.Models.Cliente

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h2 {
        text-align: center;
        margin-bottom: 30px;
        margin-top: 20px;
    }
</style>
<h2>Modificar</h2>
<hr />
<div>
    <h4>Cliente Nº @Model.Id</h4>
    <hr />
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <form id="contact-form" method="post" action="contact.php" role="form">
        <div class="messages"></div>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <h6>Nombre</h6>
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    @*<div class="help-block with-errors"></div>*@
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <h6>Apellido</h6>
                    @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <h6>Telefono</h6>
                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <h6>Correo Electronico</h6>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>



        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <h6>Direccion</h6>
                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                </div>
            </div>

            @*paso el parámetro returnUrl del método al método [HttpPost] usando un campo oculto en el formulario:*@
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <div class="row">
                <div class="col-md-5 text-center">
                    <div class="form-group " style="position: absolute;bottom: 0;text-align:center;">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </form>
}

<div>
    @* volver atras desde la pagina en la que estaba*@
    <div class="badge badge-primary text-wrap" style="width: 6rem;">
        <a href="@ViewBag.returnUrl" style="color:white;text-decoration:none">Volver Atras</a>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
