@model TPCCC_ALTAMIRANO.Models.Ingreso

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ingreso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FallaCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FallaCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassEquipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassEquipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accesorios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accesorios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Presupuesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Presupuesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FallaDetectada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FallaDetectada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReparacionRealizada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReparacionRealizada)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
