@model IEnumerable<TPCCC_ALTAMIRANO.Models.Ingreso>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/SubMenuIngreso.cshtml")
<style>
   

    [id='1'] {      
        background-color: lightgrey;
    }

    [id='2'] {
        background-color: red;
    }

    [id='3'] {
        background-color: lime;
    }
</style>

<p>
    @*@Html.ActionLink("Agregar Ingreso", "Create", new { id = "btnNuevoIngreso" }, new { @class = "btn btn-primary", @style = "color:white" })*@
    @Html.ActionLink("Nuevo Ingreso", "Create", "Ingresos", new object { }, new { @class = "dropdown-item" })
</p>
<table class="table">
    <tr>
        <th>
            Nº
        </th>
        <th>
            Cliente
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ApellidoCliente)*@
        </th>
        <th>
            Telefono
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.EmailCliente)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.DireccionCliente)
        </th>*@
        <th>
            Equipo
        </th>
        <th>
            Marca
        </th>
        <th>
            Falla segun el Cliente
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PassEquipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accesorios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Presupuesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FallaDetectada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReparacionRealizada)*@
        @*</th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr id="@item.idEstado">
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.EmailCliente)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.DireccionCliente)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FallaCliente)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.PassEquipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accesorios)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Presupuesto)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.PrecioFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FallaDetectada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReparacionRealizada)
        </td>*@
        <td>
            @Html.ActionLink("Administrar", "Edit", new { id = item.Id })
        </td>
        <td>
            @Html.ActionLink("Ver Detalle", "Details", new { id = item.Id })
        </td>
        <td>
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
        </td>
    </tr>
    }

</table>
