@model TPCCC_ALTAMIRANO.Models.Servicio


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h2 {
        text-align: center;
        margin-bottom: 30px;
        margin-top: 20px;
    }

    #btnIngresar {
        text-align: center
    }
</style>

<h2>Nuevo Servicio</h2>
<hr />
<div class="form-group">
    <div class="row">

        <div class="col-md-2">
            <div class="form-group">
                <button type="button" onclick="location.href='@Url.Action("Index", "Servicios")'" class="btn btn-outline-secondary btn-xs" style="font-size: 0.7em;">
                    Listar Servicios
                </button>
            </div>
        </div>

    </div>
</div>

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <form id="contact-form" method="post" action="contact.php" role="form">
        <div class="messages"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <h6>Nombre</h6>
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre del Servicio: Cambio de Pantalla Iphone 6" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    @*<div class="help-block with-errors"></div>*@
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <h6>Descripción</h6>
                    @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", rows = "2", style = "width: 100%; max-width: 100%;", @placeholder = "Breve Descripcion del Servicio " })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-5">
                <div class="form-group">
                    <h6>Repuesto</h6>
                    @Html.DropDownList("Id", ViewBag.ListaRepuestos as SelectList, "Seleccionar Repuesto que Utiliza", new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(model => model.Lis, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="col-md-1">

                <div class="form-group " style="position: absolute;bottom: 0;text-align:center;">

                    @Html.ActionLink("Agregar", "Create", "Repuestos", null, new { @class = "btn  btn-primary btn-large" })
                </div>

            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <h6>Costo</h6>
                    @Html.EditorFor(model => model.Costo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Costo del Servicio: $800" } })
                    @Html.ValidationMessageFor(model => model.Costo, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="form-group ">
                    <input type="submit" class="btn btn-success btn-send" value="Agregar">
                </div>
            </div>
        </div>
    </form>

}





@section Scripts {


    @Scripts.Render("~/bundles/jqueryval")

}

