@model IEnumerable<TPCCC_ALTAMIRANO.Models.Servicio>

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    #tituloH2 {
        text-align: center;
        margin-top: 10px;
    }
</style>
<h2 id="tituloH2">Administrador de Servicios</h2>

<hr />


@using (Html.BeginForm("Index", "Servicios", FormMethod.Post))
{
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <h5>LISTADO DE SERVICIOS</h5>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <button type="button" onclick="location.href='@Url.Action("Create", "Servicios")'" class="btn btn-outline-secondary btn-xs" style="font-size: 0.7em;">
                        Nuevo Servicio
                    </button>
                </div>
            </div>
            
                    <div class="col-md-3">
                        <input type="text" class="search form-control" placeholder="Buscar Servicio">
                    </div>
                    <div class="col-md-1">
                        <i class="fa fa-search"></i>
                    </div>
             
            
        </div>
    </div>

}
    <table class="table table-striped" id="userTbl">
        <thead>
            <tr>
                <th>
                    Nº
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Costo)
                </th>
                <th>
                    Repuesto Usado
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        <thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Costo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Repuesto.Nombre)
                    </td>
                    <td>
                        @Html.ActionLink("Modificar", "Edit", new { id = item.Id }, new { @style = "color:black;font-weight:bold" })
                    </td>
                    <td>
                        @Html.ActionLink("Ver Detalle", "Details", new { id = item.Id }, new { @style = "color:black;font-weight:bold" })
                    </td>
                    <td>
                        <a class=" btn btn-danger" onclick="return  DeleteConfirm()" href="/Servicios/Delete/@item.Id"><span class="fa fa-trash"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ModalScripts/ModalScripts.js"></script>
}
